<!DOCTYPE html>
<html>
	<head>
		<title>{{screamIt homeTitle}}</title>
		<style type="text/css">
			body {
				font-family: Arial, Verdana, sans-serif;
				color: #6213443;}
			div {
				width: 600px;
				height: 350px;
				background-color: #C0C0C0;}
			p {
				height: 75%;
				width: 75%;
				padding: 5% 5% 5% 5%;
				background-color: #e1ddda;
				line-height: 35px;}
		</style>
	</head>
	<body>
		<div>
			<p>V8 is Google’s open source high-performance JavaScript engine, written in C++. It is used in Google Chrome, the open source browser from Google, and in Node.js, among others. It implements ECMAScript as specified in ECMA-262, and runs on Windows 7 or later, macOS 10.12+, and Linux systems that use IA-32, ARM, or MIPS processors. V8 can run standalone, or can be embedded into any C++ application</p>
		</div>
		{{> footer}}
	</body>
</html>